.DS_Store
.idea/
logs/
**/*.py[oc]
data/
data_massage.py
**/*.csv
dist
build
*.egg*
/wolftrader/resources/reports/temptable.html
/wolftrader/resources/images/indicators.png
/wolftrader/resources/images/rsi.png
